@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    height: 2000px; /*Provisório*/
    background-color: rgb(250, 250, 250);
}

header{
    width: 100%;
    height: 54px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDB;
    position: fixed;
    z-index: 999;
}

.container {
    max-width: 936px;
    display: flex;
    margin: 0 auto;
}

header .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container input{
    width: 215px;
    height: 28px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    outline: none;
    color: #979797;
    padding: 0 10px;
}
.container input::placeholder{
    color: #979797;
    text-align: center;
}

.icons_header{
    display: flex;
}
.icons_header ion-icon{
    margin-left: 20px;
}

.icons-properties{
    font-size: 22px;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #DBDBDB;
    height: 29px;
}

.left-column{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.stories{
    width: 614px;
    height: 118px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-top: 88px;
    overflow: hidden;
}
.stories_slider{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.story{
    width: 66px;
    height: 91px;
    margin: 18px 0 0 14px;
    
}
.bg-img{
    background: url(../icons/stories_background.jpg);
    width: 66px;
    height: 66px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}
.bg-img img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    
}
.userName_story{
    width: 66px;
    height: 12px;
    color: #262626;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feed{
    width: 614px;
    margin-top: 24px;
}
.header_post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 17px 13px 17px;
}
.header_post > div{
    display: flex;
    align-items: center;
}
.header_post img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 15px;
}
.userName_post{
    font-size: 14px;
    color: #262626;
    font-weight: 500;
}

.post{
    width: 100%;
    height: 749px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 60px;
}
.post > img{
    width: 612px;
    height: 612px;
}
.actions_post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;
}
.actions_post > div{
    display: flex;
    align-items: center;
}
.actions_post > div > ion-icon {
    margin-right: 14px;
}

.numberOfLikes_post{
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 300;
}
.numberOfLikes_post > img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.numberOfLikes_post > span{
    font-weight: 500;
}

.right-column{
    width: 294px;
    height: 463px;
    background-color: #EEEEEE;
    margin-top: 55px;
}

